{% extends "base.html" %}
{% load staticfiles %}
{% load sorting_tags %}
{% block metadescription %}
    All clients
{% endblock %}
{% block title %}
    All clients
{% endblock %}
{% block content %}
    <div class="bg-light">
        <div class="text-center">
            <br>
            <h3 class="my_title">List of all Clients</h3>
            <br>
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}" role="alert">{{ message }}</div>
                {% endfor %}
            {% endif %}
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>{% anchor client_name _("Client name") %}</th>
                    <th>Street name</th>
                    <th>{% anchor suburb _("Suburb") %}</th>
                    <th>Postcode</th>
                    <th>State</th>
                    <th>Contact name</th>
                    <th>{% anchor email _("Email") %}</th>
                    <th>{% anchor phone _("Phone") %}</th>
                    <th>Action</th>
                </tr>
                </thead>
                {% if clients %}
                    <tbody>
                    {% autosort clients %}
                    {% for client in clients %}
                        <tr>
                            <td>{{ client.client_name }}</td>
                            <td>{{ client.street_name }}</td>
                            <td>{{ client.suburb }}</td>
                            <td>{{ client.postcode }}</td>
                            <td>{{ client.state }}</td>
                            <td>{{ client.contact_name }}</td>
                            <td>{{ client.email }}</td>
                            <td>{{ client.phone }}</td>
                            <td><a href="{% url 'clients:edit_client' client.id %}"><button class="btn btn-info">EDIT </button></a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                {% elif request.GET.search %}
                    <div class="alert alert-info" role="alert">
                        There are no matches found of search term.
                    </div>
                {% endif %}
            </table>
        </div>
{% endblock %}