{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block metadescription %}
    Create clients
{% endblock %}
{% block title %}
    Create clients
{% endblock %}
{% block content %}
    <div class=" bg-light">
        <div class="row justify-content-center">
            <div class="col-8">
                <br>
                <h2 class="mt-2">Create a new Client</h2>
                <hr class="mt-0 mb-4">
                <form method="post">
                    {% csrf_token %}
                    <p>{{ form | crispy }}</p>
                    <a class="" href="{% url 'all_clients' %}"><button type="button" class="btn btn-secondary">Cancel</button></a>
                    <button type="submit" class="btn btn-info float-right">Create</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}